# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
.venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Logs
*.log

# Cached artifacts
.cache/
*.pkl
*.joblib
*.faiss

# Data
data/images/